<div class="d-flex justify-content-center align-items-start vh-100 my-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">Full screen</button> -->
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" placeholder="Guía De Rastreo" aria-label="Guía De Rastreo" aria-describedby="button-addon2" />
                    <button class="btn btn-primary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
                        <i class="ti ti-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title fw-semibold mb-0">Guías Guardadas</h5>
                    </div>
                    <div class="card-body">
                        <!-- Input Buscar -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar guía" aria-label="Buscar guía" aria-describedby="button-addon2" />
                            <button class="btn btn-success" type="button" id="button-addon2">
                                <i class="ti ti-search"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-wrap" align="left" valign="middle">
                                            <div class="text-wrap">
                                                JMX1234567890
                                                <div class="badge-wrapper m-0 p-0">
                                                    <!-- Fecha -->
                                                    <span class="badge bg-primary-outline rounded-pill">12/12/2021 12:00am</span>
                                                    <!-- Hora -->
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-wrap" align="left" valign="middle">
                                            <div class="button-group">
                                                <a type="button" class="btn btn-outline-primary mx-1">
                                                    <i class="ti ti-pencil-bolt"></i>
                                                </a>
                                                <a type="button" class="btn btn-outline-danger mx-1">
                                                    <i class="ti ti-trash-x"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">Escanear Guía</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-qr></app-qr>
                </div>
                <div class="modal-footer">
                    <button id="buttonCloseModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
